body {
    background-color: #F98728;
}

td.nameBox {
    border-radius: 10px 5px 5px 10px;
    background: #F98728;
    padding: 10px;
    color: white;
}

td.statBox {
    border-radius: 5px 10px 10px 5px;
    padding: 10px;
    background: #1B2733;
    color: white;
}

th#nameHeader {
    border-radius: 10px 5px 5px 5px;
    background: #F98728;
    padding: 10px;
    color: white;
}

th#statHeader {
    border-radius: 5px 10px 5px 5px;
    background: #1B2733;
    color: white;
}


tr{
    width: 50%;
}
table#surround {
    display: block;
    border-radius: 15px;
    margin: 1em 1em;
    background: #FFF;
    padding: 10px 5px;
    border: 2px solid black
}
td.statBox{
    width: 50%;
}
td.nameBox{
    width: 50%;
}